:root {
  --fixed-top-border-width: 70px;
  --fixed-border-width: 30px;
  --fixed-border-color: #f5f5f5;
  --burger-right: -115px;
  --text-color: #333;
  --transition-time: 0.1s;
  --shadow-width: calc(var(--fixed-border-width) * 2);
  --gradient-bg: linear-gradient(to bottom, #fdbb2d, #22c1c3);
}

@media (max-width: 768px) {
  :root {
    --fixed-border-width: 15px;
    --burger-right: -130px;
  }
}

.main-content:before,
.main-content:after,
.top-nav {
  content: "";
  position: fixed;
  background: var(--fixed-border-color);
  left: 0;
  right: 0;
  z-index: 9999;
  padding-bottom: var(--fixed-border-width);
}

.main-content:before {
  top: 0;
}

.main-content:after {
  bottom: 0;
}

.main-content {
  border-left: var(--fixed-border-width) solid var(--fixed-border-color);
  border-right: var(--fixed-border-width) solid var(--fixed-border-color);
  background: var(--fixed-border-color);
}

.content {
  font-family: 'PT Sans', sans-serif;
  z-index: 1000;
  padding-top: var(--fixed-top-border-width);
  padding-bottom: var(--fixed-border-width);
}

#blog {
  /* background: #22c1c3; */
  /* background: var(--gradient-bg); */
  visibility: hidden;
}

.top-nav nav {
  font-family: "sabbath-black",serif;
  font-size: 2.5rem;
  transition: var(--transition-time);
  background-color: var(--fixed-border-color);
  height: var(--fixed-top-border-width);
  align-items: center;
  padding: 0 var(--fixed-border-width);
}

.top-nav,
.top-nav a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.top-nav a {
  color: var(--text-color);
  line-height: var(--fixed-border-width);
  height: var(--fixed-border-width);
  font-weight: 100;
  width: 100vw;
  letter-spacing: 5px;
}

.hamburger {
  position: absolute;
  left: 0;
  padding: 0;
  top: 8px;
  transition: var(--transition-time);
}

.hamburger-box {
  width: 51px;
  height: 60px;
  display: inline-block;
  position: relative;
  /* color: var(--fixed-border-color); */
  background: var(--fixed-border-color);
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 33px;
  background-color: var(--text-color);
}

#social-icons {
  right: 64px;
  top: 17px;
}

svg {
  transition: var(--transition-time);
  fill: var(--text-color) !important;
}

#burger {
  height: 240px;
  width: 100%;
  max-width: 322px;
  position: absolute;
  margin-left: auto;
  right: var(--burger-right);
}

#burger svg {
  width: 32px;
  fill: var(--text-color) !important;
}
/*

@media (max-width: 768px) {
  #social-icons,
  #burger {
    display: none;
  }
}
*/

#center-shadow {
  height: 100%;
  width: 100vw;
  z-index: 99999;
}

/*
.shadow-box {
  width: calc(100% - var(--shadow-width));
  height: calc(100% - var(--shadow-width));
  box-shadow: inset 0 0 10px #000000;
  transition: var(--transition-time);
  margin-top: 96px;
  z-index: 9999;
}
*/
