:root {
  --fixed-top-border-width: 70px;
  --fixed-border-width: 35px;
  --burger-right: -110px;
  --fixed-border-color: #111;
  --text-color: #FF4136;
  --blog-bg-color: #eee;
  --transition-time: 0.1s;
  --shadow-width: calc(var(--fixed-border-width) * 2);
  --gradient-bg: linear-gradient(to bottom, #fdbb2d, #22c1c3);
  --azo-sans: "sabbath-black", sans-serif;
  --freight-sans: "freight-sans-compressed-pro", sans-serif;
  --freight-serif: "freight-text-pro", serif;;
}

@media (max-width: 768px) {
  :root {
    --fixed-border-width: 0;
    --burger-right: -125px;
  }

  .brand {
    padding-left: 20px !important;
  }
}

body {
  background: var(--fixed-border-color);
}

body.posts {
  background-color: var(--blog-bg-color);
}

p {
  margin: 0;
}

.responsive-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 700px !important;
}

@media screen and (max-width: 768px) {
  .responsive-container {
    padding-bottom: 99% !important;
  }
}

.responsive-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: none;
}

.main-content:before,
.main-content:after,
.top-nav,
#modal-menu:before,
#modal-menu:after {
  content: "";
  position: fixed;
  background: var(--fixed-border-color);
  left: 0;
  right: 0;
  z-index: 9999;
  padding-bottom: var(--fixed-border-width);
}

.posts .main-content:after,
.posts .main-content:before,
.posts #modal-menu:before,
.posts #modal-menu:after {
  background-color: var(--blog-bg-color) !important;
}

.posts .top-nav {
  background-color: var(--blog-bg-color);
}

#modal-menu:before {
  padding-bottom: 70px;
}

.shrink-nav.content:before {
  padding-top: 0;
}

#modal-menu:before,
.main-content:before {
  top: 0;
}

#modal-menu:after,
.main-content:after {
  bottom: 0;
}

#modal-menu,
.main-content {
  border-left: var(--fixed-border-width) solid var(--fixed-border-color);
  border-right: var(--fixed-border-width) solid var(--fixed-border-color);
  background: var(--fixed-border-color);
}

.posts #modal-menu,
.posts .main-content {
  border-left: var(--fixed-border-width) solid var(--blog-bg-color);
  border-right: var(--fixed-border-width) solid var(--blog-bg-color);
  background: var(--blog-bg-color);
}

#modal-menu {
  background: black;
  padding-top: var(--fixed-top-border-width);
  padding-bottom: var(--fixed-top-border-width);
}

.nav-link {
  letter-spacing: 15px !important;
  text-shadow: 4px 8px 4px rgba(0,0,0,1);
}

.content {
  font-family: var(--freight-serif);
  z-index: 1000;
  padding-top: var(--fixed-top-border-width);
  padding-bottom: var(--fixed-border-width);
}

.content h1 {
  margin-top: 0;
}

#blog {
  background: var(--text-color);
}

.single {
  opacity: 0;
  height: 100%;
  transition: var(--transition-time);
}

.featured-img {
  right: var(--fixed-border-width);
  /* height: calc(100vh - 105px); */
  width: 50%;
  display: block;
  margin: 0 auto;
}

.intro p,
.comments,
.single-container p,
.single-container h2,
.single-container .responsive-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 10px;
  font-size: 1.1rem;
  line-height: 1.4;
}

.comments {
  padding-top: 40px;
}

.single-container .responsive-container {
  max-width: 590px;
}

.intro {
  position: relative;
  padding-left: 56px;
  z-index: 1;
}

.intro p {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  font-size: 1.7rem;
  line-height: 1.5;
  background: #eee;
  padding: 15px 0 15px 20px;
}

.single-container p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.single-container h1,
.single-container h2,
.single-container h3,
.single-container h4,
.single-container h5,
.single-container h6 {
  letter-spacing: 1px;
  font-family: freight-sans-compressed-pro,sans-serif;
  font-size: 1.2em;
  text-transform: full-width;
  font-weight: bolder;
  line-height: 1.8;
  clear: both;
  padding-top: 45px;
}

.single-container p.image {
  max-width: 1100px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.featured-img {
  text-align: center;
  height: 100vh !important;
  width: 100% !important;
  max-height: calc(100vh - 105px) !important;
  object-fit: cover;
  z-index: -1;
}

.featured-img,
.single-container p.image img {
  height: 100%;
  max-height: 640px;
}

.image img {
  max-width: 500px;
  padding: 15px;
  top: 15px;
  position: relative;
  z-index: 1;
}

.image:nth-child(2n) img {
  float: left;
}

.image:nth-child(2n+2) img {
  float: right;
}

.single-container {
  padding: 100px 0;
}

/*
.single-container {
  width: 50%;
  background: var(--blog-bg-color);
  min-height: 100vh;
  display: block;
  margin: 0 auto;
  padding: 50px;
}
*/

#blog .container {
  visibility: hidden;
}

#blog span {
  width: 100%;
  height: 100%;
  size: 100%;
  transition: 0.9s;
}

#blog a:hover span {
  size: 102%;
}

.top-nav nav {
  font-family: var(--azo-sans);
  font-size: 2.5rem;
  transition: var(--transition-time);
  background-color: var(--fixed-border-color);
  height: var(--fixed-top-border-width);
  align-items: center;
  justify-content: center;
  padding: 0 var(--fixed-border-width);
}

.posts .top-nav nav {
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .top-nav nav {
    justify-content: flex-start;
  }
}

.top-nav {
  z-index: 99999;
}

.top-nav,
.top-nav a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.top-nav a {
  color: var(--text-color);
  line-height: var(--fixed-border-width);
  height: var(--fixed-border-width);
  font-weight: 100;
  /* width: 100vw; */
  letter-spacing: 1px;
}

.brand {
  /* max-width: 250px; */
}

.hamburger {
  position: absolute;
  left: 0;
  padding: 0;
  top: 8px;
  transition: var(--transition-time);
}

.hamburger-box {
  width: 51px;
  height: 60px;
  display: inline-block;
  position: relative;
  /* color: var(--fixed-border-color); */
  background: var(--fixed-border-color);
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 33px;
  background-color: var(--text-color);
}

#social-icons {
  left: var(--fixed-border-width);
  top: 17px;
}

@media screen and (max-width: 768px) {
  #social-icons {
    display: none;
  }
}

#social-icons svg {
  max-width: 25px;
  margin-right: 5px;
}

a {
  text-decoration: none;
}

svg {
  transition: var(--transition-time);
  fill: var(--text-color) !important;
}

#burger {
  height: 240px;
  width: 100%;
  max-width: 322px;
  position: absolute;
  margin-left: auto;
  right: var(--burger-right);
}

#burger svg {
  width: 32px;
  transition: 0.2s;
}

#burger svg:hover {
  opacity: 0.5;
}

#burger svg path {
  fill: var(--text-color);
}

#social-icons svg:hover {
  opacity: 0.5;
}

#center-shadow {
  height: 100%;
  width: 100vw;
  z-index: 99999;
}

.title {
  margin: 0;
  position: absolute;
  color: white;
  z-index: 999;
  text-transform: uppercase;
  left: 0;
  bottom: 0;
  font-family: azo-sans-web, sans-serif;
  font-weight: 100;
  padding: 5%;
  letter-spacing: 5px;
  opacity: 0;
  font-size: 1.5vw;
  text-shadow: 2px 2px 3px rgba(0,0,0,1);
  transition: var(--transition-time);
}

#blog div:hover > .title {
  /* visibility: visible; */
  opacity: 1;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: .1s;
  width: 100%;
  height: 100%;
}

#loading svg path,
#loading svg g,
#loading svg {
  fill: var(--fixed-border-color);
}

.post-title {
  position: fixed;
  left: 23px;
  bottom: -46px;
  transform: rotate(-90deg);
  transform-origin: 0 0 0;
  font-family: var(--freight-sans);
  font-size: 2.7rem;
  letter-spacing: 2px;
  color: var(--text-color);
  text-transform: uppercase;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .post-title {
    display: none;
  }
}

.single-container h2 strong {
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
  line-height: 1.6;
}

.medium-zoom-overlay {
  z-index: 99999;
}

.medium-zoom-image {
  z-index: 99999;
}
