{{ define "content" }}
  <section class="single">
    <h1 class="post-title">{{ .Title }}<br>
      <span class="meta-info">by Chris Wahlfeldt // {{ .ReadingTime }}min.</span>
    </h1>
    <div class="intro">
      <img class="featured-img" src="{{ .Params.Image }}" alt="">
      <!-- <p>{{ .Params.Intro }}</p> -->
    </div>
    <!-- <h1 class="post-title">{{ .Title }} // {{ .ReadingTime }}min.</h1> -->
    <div class="single-container">
      {{ .Content }}

      <div class="comments">
        {{ partial "disqus.html" . }}
      </div>
    </div>

  </section>
{{ end }}
